@font-face{
    font-family: Bebas;
    src: url('Bebas.otf');
}

@font-face{
    font-family: Goodlight;
    src: url('Goodlight.otf');
}

body{
    font-family: Bebas;
    color: #FFFFFF;
    font-size: 50px;
    background-color: #111111;
    margin: 0;
}

.mainContent{
    background-color: transparent;
    margin: 5%;
    padding: 0;
    width: 60%;
}

.previewTable{
    font-family: Bebas;
    color: #FFFFFF;
    font-size: 30px;
    border: 0;
    outline: none;
    width: 100%;
    padding: 0;
    margin: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

.previewImage{
    padding: 0;
    margin: 0;
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.Image{
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.previewImageContent{
    position: relative;
    margin: auto;
    vertical-align: middle;
    width: 100%;
    transition: 1s;
}
.previewImageContent:hover{
    transition: 0.5s;
    transform: scale(1.1);
}

.previewTextContent{
    padding: 10%;
    margin: 0;
    background-color: #222222;
    position: relative;
    vertical-align: middle;
    text-align: left;
}

.descriptionText{
    color: white;
    font-family: Goodlight;
    font-size: 20px;
    text-align: left;
}

.descritionImage{
    width: 100%;
    overflow: hidden;
    color: white;
    font-family: Goodlight;
    font-size: 20px;
    text-align: left;
}

.navbar{
    font-family: Bebas;
    color: #FFFFFF;
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

a{
    font-family: Bebas;
    color: #5a6d92;
    font-size: 30px;
    text-decoration: none;
}

smallNav{
    display: none;
}

.navbarButtonSelected{
    font-family: Bebas;
    color: #FFFFFF;
    font-size: 30px;
    background-color: #475775;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: none;
    width: 100%;
    height: 100%;
}

.navbarButtonSelected:hover{
    font-family: Bebas;
    color: #FFFFFF;
    font-size: 30px;
    background-color: #5a6d92;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.navbarButton{
    font-family: Bebas;
    color: #FFFFFF;
    font-size: 30px;
    background-color: #111111;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: none;
    width: 100%;
    height: 100%;
}

.navbarButton:hover{
    font-family: Bebas;
    color: #FFFFFF;
    font-size: 30px;
    background-color: #222222;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

@media screen and (max-width: 830px){
    largeNav{
        display: none;
    }
    smallNav{
        display: block;
    }
    .navbarButton{
        padding-left: 5%;
        height: 60px;
        text-align: left;
    }
    
    .navbarButton:hover{
        padding-left: 5%;
        height: 60px;
    }
    .navbarButtonSelected{
        padding-left: 10%;
        height: 60px;
        text-align: left;
    }
    
    .navbarButtonSelected:hover{
        padding-left: 10%;
        height: 60px;
    }
}

smallCont{
    display: none;
}

.previewText{
    padding: 0;
    margin: 0;
    background-color: #222222;
    width: 400px;
    height: 400px;
    position: relative;
    vertical-align: middle;
    text-align: left;
    cursor: pointer;
}

@media screen and (max-width: 900px){
    largeCont{
        display: none;
    }
    smallCont{
        display: block;
    }
    .previewText{
        height: 200px;
    }
}

::-webkit-scrollbar {
    width: 20px;
  }
  
::-webkit-scrollbar-track {
    background: #222222; 
}

::-webkit-scrollbar-thumb {
    background: #333333;
    cursor: none; 
}

::-webkit-scrollbar-thumb:hover {
    background: #475775; 
    cursor: pointer;
}

/*modal image preview*/
.modalBackground{
    background-color: #111111DD;
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}
.modal{
    background-color: #222222;
    width: 500px;
    height: 500px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.modalText{
    font-family: Goodlight;
    font-size: 30px;
    width: 80%;
    height: 10%;
    margin: 0;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}
.modalExit{
    width: 10%;
    height: 10%;
    margin: 0;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}

.modalExit:hover{
    cursor: pointer;
}

.ModalImage{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.modalImageContent{
    position: relative;
    margin: auto;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}